.container {
  margin: auto;
  width: 1600px;
  height: 900px;
  background: gray;

  > div {
    width: 500px;
    height: 300px;
    position: relative;
    background: green;

    .jfc {
      position: absolute;
      bottom: 0;
      right: 0;
      box-sizing: border-box;
      border: 1px solid black;
      transition: all 0.5s;
    }
  }
}
