/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=VT323');

* {
    font-family: 'VT323', monospace;
}

body {
    font-size: 32px;
}

.container {
    width: 1600px;
    height: 900px;    
}